main {
  min-height: 80vh;
}
h3 {
  padding: 1rem 0;
}
.rating span {
  margin: 0.09rem;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem;
}
/* .card {
  background: white;
  border-color: transparent;
} */
/* .flubber {
  padding-right: 85px;
} */

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
/* .carousel {
  background-color: rgb(41, 190, 219) !important;
} */
/* .carousel {
  background-color: rgb(85, 57, 78) !important;
} */

.carousel {
  background-color: rgba(16, 21, 24, 0.952) !important;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: rgb(4, 201, 250);
}
/* .carousel-caption h2 {
  color: rgb(199, 211, 216);
} */

/* .carousel-caption h2 {
  color: rgb(199, 211, 216);
} */

.carousel img {
  height: 300px;
  width: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 65%;
}

.carousel a {
  margin: 0 auto;
}
